body{
    margin-left: 15%;
    margin-right: 15%
}


.logoname{
    margin-bottom: 0px;
    display:inline-block;
    justify-content: center;
}

.logotitle{
    margin-top:0px;
}

.logo img{
    width: 100px;
    height: 100 px;
    float: left;
}

.links{
    float: right;
    list-style: none;
    margin-top: 50px;
}

.links li{
    display: inline-block;
}

.links li a{
    font-family: Helvetica;
    padding: 10px 10px;
    text-decoration: none;
    color: black;
}

.links li.active a{
    font-weight: bold;
}

.links li a:hover{
    font-weight: bold;
}


.navigation{
    max-width: 1300px;
    margin: auto;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding: 0px;
}

.container{
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    background:white;
}

.container .card{
    position: relative;
    max-width: 800px;
    margin: 10px;
    padding: 15px;
    display: flex;
}

.container .text{
    max-width: 420px;
    padding: 0px 20px;
    display:inline-block;
    justify-content: center;
    

}


.container .card .images img{
    max-width: 100%;
    max-height: 90%;
}



h1{
    font-family: Helvetica;
}

p{
    font-family: Helvetica;
}

.grace{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 30px;
}


.footereverything{
    position: relative;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    background:white;
    font-family: Helvetica;
    float: left;
    left: 10.35%;
}



.contactlinks h3{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    padding-top:50px;
}

.contactlinks li{
    padding: 5px;
    display: inline-block;
    position: relative;
    left: 132%;
    padding-top: 50px;
}


.text p{
    margin:0px;
    padding-bottom: 10px;
}
